/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
 font: 20px/40px Helvetica, Arial, sans-serif;
 background: rgba( 46, 46, 46, 0.95);
 color: #dfffff;
}

h1#logo {
  color: #dfffff;
  text-shadow: 2px 2px 8px #00ffff;
  font-size: 60px;
}

nav {
  position: fixed;
  top: 40%;
  width: 200px;
  text-decoration: none;

}

ul {
  list-style: none;
  border-bottom: 2px solid #431165;
  border-right: 2px solid #431165;
  -webkit-border-bottom-right-radius: 39px;
  -moz-border-radius-bottomright: 39px;
  border-bottom-right-radius: 39px;
  padding-left: 3px;
}

li {
  padding-right: 3px;
}

section#page {
  margin: 0 auto;
  width: 790.677165354px;
  height: 667.842519685px;
}

div#content {
  border: 3px solid #431165;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  height: 70%;
}

div.row {
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}
div.cell {
/* display: inline;*/
  float: left;
 padding: 0;
 height: 150px;
}
