.home-menu {
  margin-bottom: 20px;
  text-align: center;
  vertical-align: center;
  height: 150px;
  font-size: 2em;
  background: rgba( 67, 16, 101, 0.1);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.inner {
  padding: 50px;
}

#home a:hover div#all, #home a:hover div#grafitti, #home a:hover div#dark {
  text-shadow: none;
  color: #dfffff;
  box-shadow: 1px 0 8px #00ffff;
}