nav {
  position: fixed;
  top: 40%;
  width: 70px;
  text-decoration: none;

}

nav ul {
  list-style: none;
  border-bottom-right-radius: 39px;
  background: rgba( 67, 16, 101, 0.3);
  margin-left: -0.5em;
  padding-left: 0.5em;
}

nav a:hover ul {
  text-shadow: none;
  color: #dfffff;
  box-shadow: 1px 0 8px #00ffff;
  
}

a {
  color: #dfffff;
  text-decoration: none;
}

a:link {
  
}
a:visited {
}

a:hover {
}
a:active {
}

li {
  padding-right: 3px;
}