nav {
  position: relative;
  margin-left: -17.3%;
  width: 140px;
  text-decoration: none;
  text-align: right;

}

nav ul {
  list-style: none;
}

nav ul li a {
  padding: 5px;
  padding-right: 12px;
}

a {
  color: #dfffff;
  text-decoration: none;
  cursor: pointer;
}

a:link {
  
}
a:visited {
}

a:hover {
}
a:active {
}

.active {
  background: rgba(255, 255, 255, 0.7);
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.unactive {
  background: transparent;
}