<div id="content">
  <div class="row all">
    <% @pictures.each do |picture| %>
      <div class="cell">
        <%= image_tag("#{@gallery_path}/" + picture[:picture]) %>
      </div>
    <% end %>
  </div>
</div>