<section id="home">
 <a href="/main">
   <div id="all" class="home-menu">
     <div class="inner">
       All Photos
     </div>
   </div>
 </a>
 <a href="/grafitti">
   <div id="grafitti" class="home-menu graffiti">
     <div class="inner">
      Graffiti
     </div>
   </div>
 </a>
</section>