<section id="home">
   <a href="/all">
     <div id="all" class="home-menu">
       <div class="inner">
         All Photos
       </div>
     </div>
   </a>
   <div id="first_part">
     <a href="/grafitti">
       <div id="grafitti" class="home-menu graffiti">
         <div class="inner">
          Graffiti
         </div>
       </div>
     </a>
     <a href="/dark">
       <div id="dark" class="home-menu dark">
         <div class="inner">
          Dark
         </div>
       </div>
     </a>
   </div>
   <div id="second_part">
     <a href=#>
       <div id="kids" class="home-menu kids">
         <div class="inner">
          Kids
         </div>
       </div>
     </a>
   </div>
   <span id="previous">Previous</span>
   <span id="next">Next</span>
</section>