<section id="home">
  <%= image_tag("on_home_small.gif", id: "home-photo")%>
  <a href="/all"><%= image_tag("ikissyoursores-desc-logo.png", id: "desc-logo")%></a>
  <span id="getin">Get In</span>
</section>