<section id="home">
  <a href="/all" id="desc-logo">
    <%= image_tag("on_home_small.gif", id: "home-photo")%>
    <%= image_tag("ikissyoursores-desc-logo.png", id: "desc-logo")%>
  </a>
  <span id="getin">Get In</span>
</section>  
