<section id="home">
 <a href="/all">
   <div id="all" class="home-menu">
     <div class="inner">
       All Photos
     </div>
   </div>
 </a>
 <a href="/grafitti">
   <div id="grafitti" class="home-menu graffiti">
     <div class="inner">
      Graffiti
     </div>
   </div>
 </a>
 <a href="/dark">
   <div id="dark" class="home-menu dark">
     <div class="inner">
      Dark
     </div>
   </div>
 </a>
 
</section>